body{
  text-align:center;
  color:#3aa2d0;
  background:black;
  font-family:'Permanent Marker', serif;
  max-width: 100%;
}
h2{
  text-align:center;
  color:#9f3;
  padding: 7px;
  border: solid 5px #9f3;
  border-radius: 70px 40px;
  height: 30px;
}
h1{
  font-size:4em;
  color:#093;
  text-align:center;
}
div{
  color:#9f3;
}
.instructions{
  font-size: 1em;
}
