body {
    text-align: center;
    color: #3aa2d0;
    background: black;
    font-family: 'Permanent Marker', cursive;
    max-width: 100%;
    max-height: 100%;
}
h2 {
  text-align:center;
  color: #99FF33;
}
h1 {
  font-size: 4em;
  color: #009933;
}
div {
  color: #99FF33;
}
